<div class="container-fluid">
  <div class="row">
      
    <div class="col-md-2">
      <todo-form (onSearchQueryChanged)="searchQuery = $event"
         (onStatusFilterChanged)="statusFilter = $event"
         (onItemAdded)="insertTodoItem($event)"></todo-form>
    </div>
        
    <div class="col-md-10">
      <todo-list [items]="todoList" [searchQuery]="searchQuery"
        [statusFilter]="statusFilter" (onUpdate)="updateTodoItem($event)"
        (onRemove)="removeTodoItem($event)"></todo-list>
    </div>
        
  </div>
  <div class="row">
    <todo-footer [items]="todoList" (removeCompleted)="clearCompletedItems()"></todo-footer>
  </div>
</div>