<div class="container-fluid">
  <div class="row">
      
    <div class="col-md-2">
      Search: <input ng-model="$ctrl.searchQuery"><br/>
      Sort by:
      <select ng-model="$ctrl.statusFilter">
        <option value="null">All</option>
        <option value="false">Active</option>
        <option value="true">Completed</option>
      </select>
      <br/>
      Insert Item: <input ng-model="$ctrl.newItem"> <button ng-click="$ctrl.insertTodoItem($ctrl.newItem)">Add Item</button><br/>
      <button ng-click="$ctrl.clearCompletedItems()">Clear Completed</button>
    </div>
        
    <div class="col-md-10">
      <todo-list items="$ctrl.todoList" search-query="$ctrl.searchQuery"
        status-filter="$ctrl.statusFilter" on-update="$ctrl.updateTodoItem(item)"
        on-remove="$ctrl.removeTodoItem(item)"></todo-list>
    </div>
        
  </div>
</div>